@media only screen and (max-width: 1550px) {
    #sidebar-nav {
        width: 10vw;
        #sidebar-left {
            width: 10vw;
        }

        #sidebar-right {
            width: 20vw;
        }
    }

    #sidebar-nav:hover {
        width: 30vw;
    }

    #top-button {
        width: 10vw;
    }

    #style-guide {
        width: 70vw;
        margin: auto;
        div {
            width: 70vw;
        }
    }

    #layout, #colors {
        font-size: .9em;
    }
}

@media only screen and (max-width: 800px) {
    header {
        #header-title {
            font-size: .9em;
        }
    }

    #sidebar-nav {
        height: 5vh;
        width: 100vw;
        #sidebar-left, #sidebar-right {
            flex-flow: row, wrap;
            width: 100vw;
        }

        #sidebar-left {
            display: flex;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            visibility: hidden;
            button {
                visibility: hidden;
            }
        }
        #sidebar-right {
            visibility: visible;
            width: 100vw;
            overflow: none;
            button {
                width: auto;
                border: none;
            }
        }
    }

    #sidebar-nav:hover {
        width: 100vw;
        #sidebar-right {
            width: 100vw;
            visibility: visible;
        }
    }

    #top-button {
        visibility: hidden;
    }

    #style-guide {
        margin: 20vh auto;
        width: 80vw;
        #elements, #colors, #icons, #layout {
            margin: auto;
            width: 100%;
        }

        h1 {
            width: 50vw;
        }
    }


    #elements {
        audio {
            width: 70vw;
        }

        video {
            width: 70vw;
            height: 50vw;
        }

        img {
            width: 70vw;
        }

        detail {
            font-size: 1em;
        }
    }

    #colors {
        #switchBar {
            button {
            }
        }

        .swatch {
            width: 80vw;
            height: 5vh;
            margin: auto;
            padding: 1%;
            text-align: left;
            p, span {
                width: 40vw;
            }
        }

        div {
            display: flex;
            flex-flow: column wrap;
            height: auto;
            width: 100%;
            margin: auto;
        }
    }

    #icons {
        padding: 0;
        flex-flow: column wrap;
        text-align: left;
        span {
        }
    }

    #layout {
        div {
            width: 100%;
            font-size: .8em;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        /*h1 {
            font-size: 1em;
        }
        h2, h3, h4, h5, h6 {
            font-size: .9em
        }*/
    }

    header {
        #header-title {
            font-size: .75em;
        }
    }

    #sidebar-nav {
        #sidebar-right {
        }
    }

    blockquote {
        font-size: .75em;
        margin: 5%;
    }
}
