@media only screen and (max-width: 750px) {
    body {
    }

    #style-guide {
        margin: 15vh 0;
        div {
        }
    }

    #colors {
        #switchBar {
            button {
            }
        }

        .swatch {
            width: 90vw;
            height: 5vh;
            margin: auto;
            padding: 1%;
            text-align: left;
        }

        div {
            h2 {
            }
            display: flex;
            flex-flow: column wrap;
            height: auto;
            width: 90vw;
            margin: auto;
        }
    }
}
