@media only screen and (max-width: 750px) {
    #top-button {
        right: 5%;
    }

    body {
    }

    #style-guide {
        width: 90vw;

        #elements, #colors, #icons, #layout {
            margin: auto;
        }
    }

    #colors {
        #switchBar {
            button {
            }
        }

        .swatch {
            width: 90vw;
            height: 5vh;
            margin: auto;
            padding: 1%;
            text-align: left;
            p, span {
                width: 40vw;
            }
        }

        div {
            display: flex;
            flex-flow: column wrap;
            height: auto;
            width: 90vw;
            margin: auto;
        }
    }

    #icons {
        span {
            margin: 0;
        }
    }

}
