html, body {
    padding: 0;
    margin: 0;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

header {
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #C5DBF2;
    padding: 1% 0 0 0;
    top: 0;
    left: 0;
    a {
        text-decoration: none;
        color: #241C15;
    }
    h1 {
        margin: 1% 0;
    }
}

nav {
    left: 0;
    width: 100%;
    height: auto;
    margin: 2% 0 0 0;
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    li {
    }
    button {
        font-size: 1.05em;
        text-decoration: none;
        background-color:white;
        padding: .5em;
        color: black;
    }

    button:hover {
        background-color: #692340;
        color: white;
    }
}

input:focus, button:focus, a:focus, select:focus {
    border: solid 5px yellow;
}

#top-button {
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 10;
    font-size: 1em;
    padding: 1%;
    border: none;
}

#top-button:hover {
    background-color: black;
    color: white;
}

#style-guide {
    margin: 5% auto;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    .layout-breve {
        width: 100%;
        height: auto;
        background-color: lightgray;
        text-align: center;
        padding: 5vh 1vw;
        margin: 2vh auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        p {
            width: 100%;
        }
        .layout-minim, .layout-crochet, .layout-quaver {
            border-radius: 1%;;
            background-color: #8C8C8C;
        }
        .layout-minim {
            width: 45%;
        }
        .layout-crochet {
            width: 30%;
        }
        .layout-quaver {
            width: 10%;
        }
    }

}

#colors {
    #switchBar {
        height: auto;
        width: 100%;
        button {
            background-color: white;
            float: right;
            padding: 1vh 1vw;
            margin: 0 .5vw;
        }
    }

    .swatch {
        width: 7vw;
        height: 8vh;
        padding: 5%;
        margin: 0;
        text-align: left;
        p, span {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }
    }

    div {
        display: flex;
        flex-flow: row wrap;
        width: 90vw;
        height: auto;
        margin: 5vh auto;
        h2 {
            width: 100%;
        }
    }
}

#elements {
    div, form {
        width: 90%;
        margin: auto;
    }
    a {
        color: red;
        font-weight: bold;
    }
}

#text {
    div {
        height: auto;
        margin: 5vh auto;
        border: solid lightgrey 2px;
        div {
            border: none;
            padding: 1%;
            width: 95%;
            margin: auto;
        }
    }
    abbr {
        color: navy;
        font-weight: bold;
    }
    details {
        background-color: #C5DBF2;
        padding: 1%;
        width: auto;
    }
    blockquote {
        background-color: #EFEEEA;
        padding: 1%;
    }
}
